# Created by https://www.gitignore.io/api/mplabx

### MPLabX ###
#Ignore List for Microchips MPLabX IDE
#Form of netbeans with vendor specific changes
#Taken from zeha on GIST https://gist.github.com/zeha/5999375

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp

App.X/html/
App.X/nbproject/private/
App.X/nbproject/Package-*.bash
App.X/build/
App.X/nbbuild/
App.X/dist/
App.X/nbdist/
App.X/nbproject/Makefile-*
App.X/disassembly/

Bootloader.X/html/
Bootloader.X/nbproject/private/
Bootloader.X/nbproject/Package-*.bash
Bootloader.X/build/
Bootloader.X/nbbuild/
Bootloader.X/dist/
Bootloader.X/nbdist/
Bootloader.X/nbproject/Makefile-*
Bootloader.X/disassembly/
n
bactions.xml
nb-configuration.xml
funclist
*.map

# End of https://www.gitignore.io/api/mplabx